body {
background: white;
font-family: courier;
font-size: 14px;
}
.containerConsole {
background-color: black;
margin: 50px auto;
height: 300px;
width: 600px;
position:relative;
border:1px solid #fefefe;
float: left;
color:white;
}
#inputConsole {
width: 550px;
display:inline-block;
position:relative;
float:left;
}
.bottomConsole {
position:absolute;
bottom:5px;
width: 100%;
}
.labelConsole {
width: 30px;
position: relative;
left: 15px;
top:5px;
color: #fefefe;
float:left;
}
.consoleConsole {
position:absolute;
bottom:32px;
overflow:hidden;
}
.whiteConsole{
color: #fefefe;
}
.blueConsole{
color: #81bbd5;
}
.lineConsole {
margin-left: 15px;
margin-bottom:2px;
}
.marginConsole {
margin-left: 40px;
margin-bottom:2px;
}