body {
background: white;
font-family: courier;
font-size: 14px;
}
.container {
background-color: black;
margin: 50px auto;
height: 300px;
width: 600px;
position:relative;
border:1px solid #fefefe;
float: left;
}
#input {
width: 550px;
display:inline-block;
position:relative;
float:left;
}
.bottom {
position:absolute;
bottom:5px;
width: 100%;
}
.label {
width: 30px;
position: relative;
left: 15px;
top:5px;
color: #fefefe;
float:left;
}
.console {
position:absolute;
bottom:32px;
overflow:hidden;
}
.white{
color: #fefefe;
}
.blue{
color: #81bbd5;
}
.line {
margin-left: 15px;
margin-bottom:2px;
}
.margin {
margin-left: 40px;
margin-bottom:2px;
}